
{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">FleeLight</h1>
        <div>
            <h2 class="h2">
            {% if user.is_authenticated %}
                Hi {{ user.username }}!
            {% else %}
                hey there partner!
            {% endif %}
            </h2>
            
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% if categories %}
        {% for category in categories %}
        <div class="span4">
            <h2>{{ category.name }}</h2>
            
            <p><a class="btn btn-primary" href="{% url 'rango:show_category' category.slug %}">View details &raquo;</a></p>
        </div>

        
        {% endfor %}
        {% else %}
        <strong>There are no categories present.</strong>
        {% endif %}
    </div>
</div>


{% endblock %}